@import url('/src/app/_ezs/assets/plugin/react-select/react-select.css');
@import url('/src/app/_ezs/assets/plugin/react-datepicker/react-datepicker.css');
@import url('react-toastify/dist/ReactToastify.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --ezs-body-bg: #f5f8fa;
    --ezs-body-color: #181C32;
    --ezs-element-bg: #fff;
}

html.dark {
    --ezs-body-bg: #151521;
    --ezs-body-color: #FFFFFF;
    --ezs-element-bg: #1b1b29;
}


/* Import */


/* Root */

html {
    text-size-adjust: 100%;
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--ezs-body-color);
    background: var(--ezs-body-bg);
    font-size: 14px;
}

#root {
    height: 100%;
}

[tabindex],
*:focus-visible {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}

html body.swal2-height-auto {
    @apply !h-full
}

.swal2-shown .swal2-html-container {
    line-height: 25px;
}

div:where(.swal2-container) label:where(.swal2-input-label) {
    text-align: center;
    padding: 0 20px;
}


/* Checkbox */

.checkbox .icon::after {
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px 2px 0
    /*rtl:ignore*/
    !important;
    -webkit-transform: rotate(45deg);
    /*rtl:ignore*/
    transform: rotate(45deg);
    /*rtl:ignore*/
    width: 5px;
    height: 10px;
}

.checkbox input:checked+.icon.checkbox-primary {
    @apply bg-primary
}

.checkbox input:checked+.icon::after {
    border-color: #ffffff;
    display: block;
}